.home-wrapper
  .container-fluid
    .row
      .stars-bg
        .stars
        .twinkling
        .clouds
      .header-section.col-md-10.col-md-offset-1
        .row
          .header-video.col-md-6
            %h3
              <i class="material-icons">whatshot</i> Top Video
            .embed-responsive.embed-responsive-16by9
              %iframe{:width => "560",
                :height => "315",
                :src => "https://www.youtube.com/embed/OCuHZq7gYJA?rel=0&amp;showinfo=0",
                :frameborder => "0"}(allowfullscreen webkitallowfullscreen mozallowfullscreen)
            .video-author-info
              %img.video-author-avatar{:src => 'http://c.saavncdn.com/artists/Ariana_Grande.jpg'}
              %div.author-info-container
                %p.video-author-name
                  Ariana Grande
                %span.voting
                  3259 votes
                  %a{:href => ""}
                    %p#vote-icon-plus
                      %i.material-icons plus_one
          .col-md-6
            %h1.title
              SOUL<br/> JOURNEY
    .row
      .call.col-md-12
        .call-content.col-md-6.col-md-offset-3
          %button.call-button{:type => "button",:href => "#"}
            SUBMIT A VIDEO
          %button.call-button{:type => "button",:href => "#"}
            VIEW SUBMISSIONS


    .row
      .section-2.col-md-10.col-md-offset-1
        .col-md-6
          %h3.section-2-title
            Your Journey to Soul Train
        .col-md-6
          %p.section-2-para
            Ever thought about what it would have been like to have the chance to
            perform on Soul Train? <br/><br/>
            Have you ever wanted to show the world your musical ability? <br/><br/>
            Here at Soul Journey we make it our business to give you the chance to
            promote your creativity and get the chance to make it onto Soul Train.
    .row
      .section-3.col-md-10.col-md-offset-1
        .header-video.col-md-4
          .embed-responsive.embed-responsive-16by9
            %iframe{:width => "560",
              :height => "315",
              :src => "https://www.youtube.com/embed/zTtoxL9yeXU?rel=0&amp;showinfo=0",
              :frameborder => "0"}(allowfullscreen webkitallowfullscreen mozallowfullscreen)
          .video-author-info
            %img.video-author-avatar{:src => 'https://goo.gl/hn0xJ7'}
            %div.author-info-container
              %p.video-author-name
                Ariana Grande
              %span.voting
                3259 votes
                %a{:href => ""}
                  %p#vote-icon-plus
                    %i.material-icons plus_one
        .header-video.col-md-4
          .embed-responsive.embed-responsive-16by9
            %iframe{:width => "560",
              :height => "315",
              :src => "https://www.youtube.com/embed/yJLsv0XlJO4?rel=0&amp;showinfo=0",
              :frameborder => "0"}(allowfullscreen webkitallowfullscreen mozallowfullscreen)
          .video-author-info
            %img.video-author-avatar{:src => 'https://goo.gl/wvTw9g'}
            %div.author-info-container
              %p.video-author-name
                Ariana Grande
              %span.voting
                3259 votes
                %a{:href => ""}
                  %p#vote-icon-plus
                    %i.material-icons plus_one
        .header-video.col-md-4
          .embed-responsive.embed-responsive-16by9
            %iframe{:width => "560",
              :height => "315",
              :src => "https://www.youtube.com/embed/ftDK0atcHEw?rel=0&amp;showinfo=0",
              :frameborder => "0"}(allowfullscreen webkitallowfullscreen mozallowfullscreen)
          .video-author-info
            %img.video-author-avatar{:src => 'https://goo.gl/UOP0fx'}
            %div.author-info-container
              %p.video-author-name
                Ariana Grande
              %span.voting
                3259 votes
                %a{:href => ""}
                  %p#vote-icon-plus
                    %i.material-icons plus_one
