!!!5

%html(ng-app = "soulTrainApp")
  %head
    %title Soul Train Video
    %script{:type => "text/javascript",
        :src  => "./lib/jquery/dist/jquery.min.js",
        :charset => "utf-8"}
    %script{:type => "text/javascript",
        :src  => "./lib/angular/angular.js",
        :charset => "utf-8"}
    %script{:type => "text/javascript",
        :src  => "./lib/angular-ui-router/release/angular-ui-router.min.js",
        :charset => "utf-8"}
    %script{:type => "text/javascript",
        :src  => "./lib/angular-cookies/angular-cookies.min.js",
        :charset => "utf-8"}
    %script{:type => "text/javascript",
        :src  => "./lib/bootstrap/dist/js/bootstrap.min.js",
        :charset => "utf-8"}
    %link{:rel => "stylesheet",
        :href  => "./lib/bootstrap/dist/css/bootstrap.min.css"}
    %link{:rel => "stylesheet",
        :href  => "./fonts.css"}
    %link{:rel => "stylesheet",
        :href  => "./material-icons.css"}
    %script{:type => "text/javascript",
        :src  => "./app.js",
        :charset => "utf-8"}
    %link{:rel => "stylesheet",
        :href  => "./app.css"}
    %link{:rel => "stylesheet",
        :href  => "./stars.css"}
    %script{:type => "text/javascript",
        :src  => "./home/home-controller.js",
        :charset => "utf-8"}
    %link{:rel => "stylesheet",
        :href  => "./home/home.css"}
    %script{:type => "text/javascript",
        :src  => "./factories/user-factory.js",
        :charset => "utf-8"}
  %body(ng-controller = "indexCtrl as iCtrl")

    .nav-container
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{:type => "button",:'data-toggle' => "collapse",:'data-toggle' => "navbar-1"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "#"}
              SOUL JOURNEY

          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "#"} HOME
              %li
                %a{:href => "#"} NEWS
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{:href => "#"} SUBMIT VIDEO
              %li
                %a{:href => "#"} SIGN UP


    %ui-view
